h1 {
  font-size: 48px;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  h1 {
    font-size: 32px;
    background-color: red;
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  h1 {
    font-size: 51px;
    background-color: yellow;
  }
}
